<ion-card>
  <ion-img
    src="../../assets/MangxoLogo.png"
    alt="MangxoLogo"
  ></ion-img>
  <p>Construye ahora,</p>
  <p>paga despues</p>

  <ion-card-header>
    <ion-card-title>Iniciar Sesion</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <ion-item>
        <ion-input label="Usuario" label-placement="floating" placeholder="Ej: leonardoP" type="text" [(ngModel)]="username" name="username" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Contraseña" label-placement="floating" placeholder="Ej: 123456" type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button class="logInButton" expand="block" type="submit" [disabled]="!loginForm.form.valid">Ingresar</ion-button>
    </form>
  </ion-card-content>
</ion-card>