ion-card {
    margin-top: 0;
}

ion-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.addUser {
    margin-bottom: 10px;
    padding-top: 0;
}

ion-icon {
    font-size: 40px;
}
